%h1 Listing questions

%table
  %tr
    %th Display conditions
    %th Short name
    %th Clinical terms
    %th Question for patient
    %th Compulsory for patient reported assessment
    %th Input type
    %th Option list
    %th Used in patient assessment
    %th Used in phone assessment
    %th Snomed concept
    %th
    %th
    %th

  - @questions.each do |question|
    %tr
      %td= question.display_conditions
      %td= question.short_name
      %td= question.clinical_terms
      %td= question.question_for_patient
      %td= question.compulsory_for_patient_reported_assessment
      %td= question.input_type
      %td= question.option_list
      %td= question.used_in_patient_assessment
      %td= question.used_in_phone_assessment
      %td= question.snomed_concept
      %td= link_to 'Show', question
      %td= link_to 'Edit', edit_question_path(question)
      %td= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Question', new_question_path
