%h3 #{@assessment.name}
- form_disabled ||= false
= simple_form_for(setup_assessment(@assessment),:url => patient_assessment_form_path ,
:html => {:class => 'assessment' ,:disabled => form_disabled },
:defaults => {:disabled => form_disabled}) do |f|
  = f.error_notification
  = f.error :base, {:class => "alert alert-error"}
  .form-inputs
  = f.simple_fields_for :answers do |a|
    - question = a.object.question
    - if question .nil?
      "!!! null question"
      = a.object.to_json
    - else
      = render "assessments/answer",:a => a
  - if user_signed_in?
    - if current_user.professional?
      = f.input :status, :collection => Assessment.status_list
  - if !form_disabled
    .form-actions
      = f.button :submit,:value => 'Submit',:disable_with => 'Submitting'