%h3 #{@assessment.name}
- form_disabled ||= false
= simple_form_for(setup_assessment(@assessment),:url => patient_assessment_form_path ,:html => {:class => 'assessment' },
 :defaults => {:disabled => form_disabled}) do |f|
  = f.error_notification
  .form-inputs
  = f.simple_fields_for :answers do |a|
    - question = a.object.question
    - label = question.display_name if !question.nil?
    = a.input :question_id, :as => :hidden

    - if (question.input_type == 'OneOption')
      = a.input :value,:label => label,:as => :select , :collection => question.option_list,:include_blank => false,
      :label_method => :label , :value_method => :value,
      :input_html => {:data => {:short_name => question.concept.name.downcase, :condition => question.condition },
      :class => 'question'}

      - else if question.input_type == 'Date'
        = a.input :dateValue, :label => label,
        :as => :date, :start_year => Date.today.year - 120, :end_year => Date.today.year , :order => [:day , :month, :year],
        :input_html => {:data => {:short_name => question.concept.name.downcase,
        :condition => question.condition},:class => 'question'}

      - else
        = a.input :value,:label => label ,
        :input_html => {:data => {:short_name => question.concept.name.downcase, :condition => question.condition }, :class => 'question'}
  - if user_signed_in?
    - if current_user.professional?
      = f.input :status, :collection => Assessment.status_list
  - if !form_disabled
    .form-actions
      = f.button :submit