%h3 #{@assessment.name}
- form_disabled ||= false
= simple_form_for(setup_assessment(@assessment),:url => patient_assessment_form_path ,
:html => {:class => 'assessment' ,:disabled => form_disabled },
:defaults => {:disabled => form_disabled}) do |f|
  = f.error_notification
  .form-inputs
  = f.simple_fields_for :answers do |a|
    = render "assessments/answer",:a => a
  - if user_signed_in?
    - if current_user.professional?
      = f.input :status, :collection => Assessment.status_list
  - if !form_disabled
    .form-actions
      = f.button :submit,:value => 'Submit'