%h3 #{@assessment.name}
- form_disabled ||= false
- url = @url.nil? ? patient_assessment_form_path : @url
- assessment = setup_assessment(@assessment)
= simple_form_for(assessment,:url => url,
:html => {:class => 'assessment' ,:disabled => form_disabled },
:defaults => {:disabled => form_disabled}) do |f|
  = f.error_notification
  = f.error :base, {:class => "alert alert-error"}
  .form-inputs
    = f.input :name, :as => :hidden
    = f.simple_fields_for :answers do |a|
      - question = a.object.question
      - if question.nil?
        = a.object.to_json
      - else
        = render "assessments/answer",:a => a
    - if assessment[:contains_dob] != true && !@assessment.patient.nil?
      %input{:type => :hidden , :data => {:"short-name" => "patient_dob"}, :value => @assessment.patient.dob}
    - if user_signed_in?
      - if current_user.professional?
        = f.input :status,:as => :hidden, :collection => Assessment.status_list
  - if !form_disabled
    .form-actions
      = f.button :submit,:value => 'Submit',:disable_with => 'Submitting'