%p#notice= notice
-if !@patient.nil?
  = render('patients/short_info')
  = render 'assign_form'
= render 'form', :form_disabled => true

-if !@patient.nil?
  = link_to 'Edit', edit_patient_assessment_path
  \|
  = link_to 'Back', patient_path(@patient)
-else
  = link_to 'Back', unassigned_assessments_path