-if !@patient.nil?
  = link_to 'Back', patient_path(@patient)
-else
  = link_to 'Back', unassigned_assessments_path
-if !@patient.nil?
  = render('patients/short_info')
  -if @assessment.form.patient_form?
    = render 'assign_form'
    = link_to 'Delete assessment', @assessment, :confirm => 'Are you sure?', :method => :delete,:class=> "btn btn-danger"
= render 'form', :form_disabled => true

-if !@patient.nil?
  = link_to 'Back', patient_path(@patient)
  |
  = link_to 'Edit',edit_patient_assessment_path(@patient,@assessment)
-else
  = link_to 'Back', unassigned_assessments_path
