%p#notice= notice
= render('patients/short_info')
= render 'assign_form'
= render 'form', :form_disabled => true

= link_to 'Edit', edit_patient_assessment_path
\|
= link_to 'Back', patient_path(@patient)
