%h1 Listing unassigned assessments

%table{:class => "table table-striped table-bordered" }
  %thead
    %tr
      %th Name
      %th Gender
      %th DOB
      %th Planned date of Procedure
      %th Status
      %th Delete
  %tbody
    - @assessments.each do |a|
      %tr
        %td= a.find_answer_by_concept_name 'patient_surname'
        %td= a.find_answer_by_concept_name 'patient_gender'
        %td= a.find_answer_by_concept_name 'patient_dob'
        %td= a.find_answer_by_concept_name 'procedure_date'
        -if !@patient.nil?
          %td= link_to a.status, patient_assessment_path(@patient,a)
        -else
          %td= link_to a.status, assessment_path(a)
        %td= link_to 'Delete assessment', a, :confirm => 'Are you sure?', :method => :delete,:class=> "btn btn-danger"
%br

= link_to 'Back' ,root_path