-content_for :title do
  #{@patient.surname} #{@patient.firstname} #{@patient.dob}

%h1 Pre-op summary
Printed by #{current_user.professional.name} on #{Date.current.to_s}
%table#summary_printed{:class => "table table-bordered" }
  -#%thead
  -#  %tr
  -#    %th.summary-printed
  -#    %th.summary-printed
  -#    %th.summary-printed
  %tbody
    - @categories.each do |category|
      - if !@summary[category._id].nil? && @summary[category._id].size > 0
        %tr
          %td{:colspan => 3,:class => "category"}
            %h3=category.summary_display
          - concept_arr = @summary[category._id][:array]
          - rownum = @summary[category._id][:row_number]
          - for row in 1 .. rownum
            %tr
            -for col in 0 .. 2
              - index = col * rownum + row - 1
              - concept_composite = concept_arr[index]
              - if !concept_composite.nil?
                %td
                  %strong
                    =concept_composite[0][:concept_display_name]
                  \:
                  =printed_answer concept_composite
              -else
                %td
    %tr
      %td{:colspan =>3}
        %h4 Summary preparation
        %ul.unstyled
          - @patient.assessments.each do |a|
            %li #{a.name} #{a.updated_by} #{a.date_str}

= link_to 'Full version', patient_summary_path(@patient), {class: "no-print"}
|
= link_to 'Patient information' ,@patient, {class: "no-print"}
|
= link_to 'Patient List' ,patients_path, {class: "no-print"}