= simple_form_for(@professional) do |f|
  = f.error_notification
  = f.simple_fields_for :user do |u|
    = u.error_notification
    = u.input :email
  .form-inputs
    = f.input :name
    = f.input :speciality,:collection => Professional.specialities
    = f.input :discontinued,:as => :boolean
  .form-actions
    = f.button :submit
= @professional.user.nil? ? "" :@professional.user.errors.messages
= debug @professional