%h3 Patient information
%p
  Surname: #{@patient.surname}
%p
  First name: #{@patient.firstname}
%p
  Middle name: #{@patient.middlename}
%p
  Date of birth: #{ @patient.dob}
%p
  Medicare number: #{@patient.get_answer_from_patient_form "medicare_card_number"}
%p
  Medicare card patient identifier: #{@patient.get_answer_from_patient_form "medicare_card_number_identifier"}
%p
  Individual healthcare identifier: #{@patient.get_answer_from_patient_form "individual_healthcare_identifier"}
%p
  Social security number: #{@patient.ssn}