= simple_form_for(@patient) do |f|
  = f.error_notification
  - form_disabled =false
  .form-inputs
    = f.simple_fields_for(setup_assessment(@patient.new_patient_assessment),:url => patient_assessment_form_path,
    :html => {:class => 'assessment' }, :defaults => {:disabled => form_disabled}) do |s|
      = s.error_notification
      .form-inputs
      = s.simple_fields_for :answers do |a|
        = render "assessments/answer",:a => a
    = f.input :anaesthetist_id ,:collection => Professional.anaesthetists
  .form-actions
    = f.button :submit
-#= debug @patient