= simple_form_for(@patient) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :ssn
    = f.input :dob  ,:as => :date, :start_year => Date.today.year - 120,:end_year => Date.today.year , :order => [:day , :month, :year]
    = f.input :planned_date_of_surgery ,:as => :date, :start_year => Date.today.year,:end_year => Date.today.year + 10 , :order => [:day , :month, :year]
    = f.input :surgeon_id ,:collection => Professional.surgeons
    = f.input :anaesthetist_id ,:collection => Professional.anaesthetists
  .form-actions
    = f.button :submit
= debug @patient