%h3 Patient
%p
  Surname: #{@patient.surname}
%p
  First name: #{@patient.firstname}
%p
  Middle name: #{@patient.middlename}
%p
  Date of birth: #{ @patient.dob}
%p
  SSN: #{@patient.ssn}
%p
  Planned date of surgery: #{ @patient.planned_date_of_surgery}
%p
  Surgeon: #{ @patient.surgeon}