%h3 Patient
%p
  Name: #{@patient.name}
%p
  Date of birth: #{ @patient.dob}
%p
  SSN: #{@patient.ssn}
%p
  Planned date of surgery: #{ @patient.planned_date_of_surgery}
%p
  Surgeon: #{ @patient.surgeon}
