%h2 Patient screen
%p
    Name: #{@patient.name}
%p
    SSN: #{@patient.ssn}
%p
    Date of birth: #{ @patient.dob}
= link_to 'Edit', edit_patient_path(@patient)
\|
= link_to 'Back', patients_path
= debug @patient
