%h2 Patient screen

- if !patient_signed_in?
  %p
    Name: #{@patient.name}
  %p
    Date of birth: #{ @patient.dob}
  %p
    SSN: #{@patient.ssn}
  %p
    Planned date of surgery: #{ @patient.planned_date_of_surgery}
  %p
    Surgeon: #{ @patient.surgeon.name if !@patient.surgeon.nil?}
  %p
    Anaesthetist: #{ @patient.anaesthetist.name if !@patient.anaesthetist.nil?}
  - if can? :edit, @patient
    = link_to 'Edit', edit_patient_path(@patient)
    \|
    = link_to 'Back', patients_path
  - else
    = link_to 'Back', patients_path
- else
  %p TODO proceed patient to assessment